@import "~@angular/material/theming";
@include mat-core();

/*Default light Theme Colors*/

// Default light theme
$font-16: 16px;
$light-text: white;
$themecolor: #1e88e5;
$themecolor-alt: #c43d16;
$themecolor-dark: #683628;
$primary: #6a1b1b;
$secondary:#fcb500;
$secondary-light:#edc596;
$third: #fd9a7e;
$four:#dc6d02;

$topbar: #461412;
$sidebar: white;
$sidebar-white: white;
$sidebar-alt: #f2f6f8;
$bodycolor: #f2f1ef;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-icons-light:black;



/*bootstrap Color*/
$danger: #fc4b6c;
$success: #26c6da;
$warning: #ffb22b;

$info: #1e88e5;
$inverse: #2f3d4a;
$muted: #99abb4;
$dark: #263238;
$light: #f2f4f8;
$extra-light: #ebf3f5;


/*Light colors*/
$light-danger: #f9e7eb;
$light-success: #e8fdf8;
$light-warning: #ffa726;
$light-primary: #f1effd;
$light-info: #e3f3fd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;
$bg-ligth-card:#ffff;

$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #fb8c00;
$primary-dark: #6352ce;
$info-dark: #028ee1;
$red-dark: #d61f1f;
$inverse-dark: #232a37;
$dark-transparent: rgba(0, 0, 0, 0.05);
/*Normal Color*/
$white: #ffffff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;

/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border: #f3f1f1;
$card-brd: #1e2625;
$dark-text: #000000;
$radius: 4px;
$form-brd: #d9d9d9;

$light-primary-text:#ffff;
$dark-primary-text: #0a2634;

// BACKGROUND CONFIG
// fpi-skin-black
$mat-light-theme-background: (
  background: $bodycolor,
  status-bar: #1e2625,
  app-bar: $topbar,
  hover: #80808077,
  card: $sidebar-white,
  dialog: $sidebar-white,
  tooltip: #171e13,
  disabled-button: $light-text,
  raised-button: #171e13,
  focused-button: #171e13,
  selected-button: #171e13,
  selected-disabled-button: #171e13,
  disabled-button-toggle: #171e13,
  unselected-chip: #171e13,
  icon: white,
  icons:white,
  disabled-list-option: #171e13,

);
$mat-primary: (
  main:$primary,
  lighter: #15bb0d,
  darker: #777575,
  200: #db543c,
  // FOR SLIDE TOGGLE,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #797979,
  lighter: #d7d7d7,
  darker: #5c5c5c,
  200: #797979,
  // FOR SLIDE TOGGLE,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  // FOR SLIDE TOGGLE,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

// $primary-theme: mat-palette($mat-blue-grey);
// $accent-theme: mat-palette($mat-amber, A200, A100, A400);
// $warn-theme: mat-palette($mat-pink);
// $accent: mat-palette($mat-blue, 500);
// $warn: mat-palette($mat-pink, 500);

// $theme: mat-light-theme($primary-theme, $accent-theme, $warn-theme);
/*Material Theme Colors*/
$bodyfont: "Poppins", sans-serif;
$headingfont: "Poppins", sans-serif;
// $theme: mat-light-theme((
//   color: (
//     primary: $primary,
//     accent: $accent,
//     warn: $warn,
//   )
// ));
// $background: map-get($theme, background);
// $foreground: map-get($theme, foreground);
$custom-typography: mat-typography-config(
  $font-family: "Poppins, sans-serif",
);

$mat-primary-black: (
  main: #e7e4e4,
  lighter: #15bb0d,
  darker: #777575,
  200: #db543c,
  // FOR SLIDE TOGGLE,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$mat-accent-black: (
  main: #797979,
  lighter: #d7d7d7,
  darker: #5c5c5c,
  200: #797979,
  // FOR SLIDE TOGGLE,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$mat-warn-black: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  // FOR SLIDE TOGGLE,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);

$primary-theme-black: mat-palette($mat-primary-black);
$accent-theme-black: mat-palette($mat-accent-black);
$warn-theme-black: mat-palette($mat-warn-black);
// $accent: mat-palette($mat-blue, 500);
// $warn: mat-palette($mat-pink, 500);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// $background: map-get($theme, background);
// $foreground: map-get($theme, foreground);

.default-theme {
  @include angular-material-theme($theme);
  --primary: #{$primary};
  --background: #{mat-color(map-get($theme-black, background))};
  --themecolor-alt: #{$themecolor-alt};
  --secondary: #{$secondary};
  --secondary-light: #{$secondary-light};
  --text-primary-color: #{$dark-text};
  --sidebar-icons: #{$sidebar-icons-light};
  --bg-dialog: #{$sidebar-white};
  --text-accent-color: #{$dark-text};
  --text-accent-new-color:#{$light};
  --text-accent-icon-color:#{$light};
  --bg-dialog-scroll:#{$white};
  --color-scroll:#{$dark-text};
  --bg-card:#{$bg-ligth-card};
  --bg-header-row-dialog:#{$secondary};
}

$theme-black: mat-dark-theme(
  $primary-theme-black,
  $accent-theme-black,
  $warn-theme-black
);
.default-theme-black {
  @include angular-material-color($theme-black);
}
