
/*******************
 Topbar
*******************/
mat-toolbar{
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
    &.topbar{
        padding: 0px 15px;
        height: $topbar-vh;
    }
    .navbar-header {
        text-align: center;
        .navbar-brand {
            display: flex;
            line-height: 18px;
            align-items: center;
            .dark-logo {
                display: none;
            }
            b {
               margin-right: 5px;
            }
        }
    }

    .profile-pic{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    button:last-child{
      color: var(--black)!important;
      background: transparent;
    }
    button:nth-last-child(1){
      background-color: var(--secondary-light);
    }
}
/*******************
 Topbar
*******************/
.topbar {
  position: relative;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.mat-menu-content.mat-icon {
  color:var(--light-inverse);
}
.mat-menu-item{
  color:var(--text-accent-color)!important;
}
