# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/projects/demo/*
/projects/demo.old/*

slnx.sqlite
/.vs
dist/docs/common.js
dist/docs/common.js.map
dist/docs/default-node_modules_ng-chartist___ivy_ngcc___fesm2015_ng-chartist_js.js
dist/docs/default-node_modules_ng-chartist___ivy_ngcc___fesm2015_ng-chartist_js.js.map
dist/docs/default-node_modules_ng-chartist_fesm2015_ng-chartist_js.js
dist/docs/default-node_modules_ng-chartist_fesm2015_ng-chartist_js.js.map
dist/docs/index.html
dist/docs/main.js
dist/docs/main.js.map
dist/docs/projects_docs_src_app_dashboard_dashboard_module_ts.js
dist/docs/projects_docs_src_app_dashboard_dashboard_module_ts.js.map
dist/docs/projects_docs_src_app_home_home_module_ts.js
dist/docs/projects_docs_src_app_material-component_material_module_ts.js
dist/docs/projects_docs_src_app_material-component_material_module_ts.js.map
dist/docs/projects_docs_src_app_payroll_payroll_module_ts.js
dist/docs/projects_docs_src_app_payroll_payroll_module_ts.js.map
dist/docs/projects_docs_src_app_profile_profile_module_ts.js
dist/docs/projects_docs_src_app_subscription_subscription_module_ts.js
dist/docs/projects_docs_src_app_subscription_subscription_module_ts.js.map
dist/docs/projects_docs_src_app_trabajador_trabajador_module_ts.js
dist/docs/styles.css
dist/docs/styles.css.map
dist/docs/vendor.js
dist/docs/vendor.js.map
dist/docs/assets/styles/app.scss
dist/docs/assets/styles/header.scss
dist/docs/assets/styles/pages.scss
dist/docs/assets/styles/sidebar.scss
dist/docs/assets/styles/variable.scss
dist/docs/assets/styles/theme/alt-theme.scss
dist/docs/assets/styles/theme/default.scss
dist/docs/assets/styles/theme/fpi.scss
dist/docs/assets/styles/theme/gtd-blue.scss
dist/docs/assets/styles/theme/unicorn-black.scss
dist/docs/assets/styles/theme/unicorn.scss
package-lock.json
