:host .mat-drawer-inner-container{
  overflow: none!important;
  height: calc(100vh - 64px);
}

.sign-gtd {
  position: sticky;
  height: 69px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle, rgb(184, 176, 189) 0%, rgb(208, 216, 212) 50%, rgb(199, 196, 191) 100%);
  clip-path: url(#clip);
}
